@tailwind base;

@tailwind components;

@tailwind utilities;

@import './assets/css/hamburger.css';

@import url('https://fonts.googleapis.com/css?family=Raleway:regular');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:regular');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue:regular');

body {
  font-family: 'Raleway', cursive;
}

h1 {
  font-family: 'Bebas Neue';
}

h2 {
  font-family: 'Josefin Sans';
  @apply text-2xl;
  @apply font-bold; 
  @apply mb-2;
}

.mainMenu-hamburger {
  z-index: 1000;
  right: -4rem;
}

.mainMenu-scrollbar::-webkit-scrollbar {
  width:7px;
}

.mainMenu-scrollbar::-webkit-scrollbar-track {
  background:white;
  border-radius:10px
}

.mainMenu-scrollbar::-webkit-scrollbar-thumb {
  background:#888;
  border-radius:10px;
}

.mainMenu-scrollbar::-webkit-scrollbar-thumb:hover {
  background:#555;
}