@tailwind base;

@tailwind components;

@tailwind utilities;

@import './assets/css/hamburger.css';

@import url('https://fonts.googleapis.com/css?family=Raleway:regular');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:regular');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue:regular');

body {
  font-family: 'Raleway', cursive;
}

h1 {
  font-family: 'Bebas Neue';
}

h2 {
  font-family: 'Josefin Sans';
  @apply text-2xl;
  @apply font-bold; 
  @apply mb-2;
}

@media screen and (max-width: 830px) {
  .mainMenu {
    position: absolute;
    z-index: 2;
    background-color:rgba(255, 255, 255, 0.9);
    left: 0;
    width: 250px;
    transition: all 0.2s ease;
  }

  .mainMenu.is-hidden {
    left: -250px;
    transition: all 0.2s ease;
  }

  .mainMenu-hamburger {
    z-index: 1000;
    right: -3.5rem;
  }
}

@media screen and (min-width: 831px) {
  .mainMenu {
    @apply flex-none;
  }

  .mainMenu-hamburger {
    display: none;
  }
}

.mainMenu-scrollbar::-webkit-scrollbar {
  width:7px;
}

.mainMenu-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius:10px
}

.mainMenu-scrollbar::-webkit-scrollbar-thumb {
  background:#888;
  border-radius:10px;
}

.mainMenu-scrollbar::-webkit-scrollbar-thumb:hover {
  background:#555;
}