@import url('https://fonts.googleapis.com/css?family=Raleway:regular');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue:regular');



body {
  font-family: 'Raleway', cursive;
}

.mainTitle {
  font-family: 'Bebas Neue';
  text-decoration: underline;
}

.mainMenu {
  min-width: 220px;
}

.scroll::-webkit-scrollbar {
  width:7px;
}
.scroll::-webkit-scrollbar-track {
  background:white;
  border-radius:10px
}
.scroll::-webkit-scrollbar-thumb {
  background:#888;
  border-radius:10px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background:#555;
}